{% extends "base.html" %}
{% block title %} {{ main_title }} {% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-3 mb-3 mt-1">
    <div class="card">
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="h3">
                {{ title }}
            </div>
          </li>
          <li class="list-group-item">
            <div class="h6 text-muted">
                {{ obout_info }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card-body">
      <div class="card-text">
        <p><p align="justify"> {{ another_info }}
              <br><a href="URL">{{ vk }}</a>
              <br><a href="URL"> {{ git }} </a>
              <br><a href="URL"> {{ inst}} </a></p>`
      </div>
    </div>
  </div>
</div>
{% endblock %}